* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #161d24;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-top: 30px;
  margin-bottom: 16px;
  margin-left: 40px;
}

.country-list{
  display: flex;
  flex-direction: column;
  
}

.country-item{
  display: flex;
  justify-content: baseline;
}
.country-item__name{
  margin-left: 10px;
  font-size: 23px;
 }

.country-info{
  margin-left: 20px;
}

.country-info__name{
  font-size: 18px;
  font-weight: 800;
}
.country-info-container{
  display: flex;
  justify-content: baseline;
  gap: 10px;
  margin-left: 20px;
}

.cells{
  width: 100%;
  height: 800px;
}